# NetBeans specific #
/nbproject/private/
/build/
/dist/
/nbdist/
/.nb-gradle/

!nbproject/project.properties
!nbproject/project.xml

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
